@media screen and (max-width: 330px) {
    .text-container > .text-cont{
        font-size: 18px;
        text-align: center;
    }
    .links{
       font-size: 14px;
    }

}


@media screen and (max-width: 615px) {
    .heading-section > .image > img:last-child{
        display: block;
        width: 100%;
        background-size: cover;
        background-position: center;
        margin: 1rem 0;   
    }

    .text-container{
        margin: 0 1.5rem;
    }

    .prev-skills{
        margin-bottom: 3rem;
    }

    body{
        position: relative;
    }

    .container{
        width: 80%;
        height: auto;
        margin-bottom: 10%;
        height: auto;
        position: static;
    }

    .heading-section > .image > img{
        display: none;
    }

    .text-preview{
        display: grid;
        gap: 1rem;
    }

    .second-section{
        height: 70vh;
    }

    .header,
    .header.links-active{
        display: block;
        border: none;
        width: 100%;
        height: 100%;
        /* background-color: #fff; */
    }

    .langs{
        left: -100%;
    }

    .langs.lang-active{
        left: 0;
    }

    .langs,
    .langs.lang-active{
        transition: .5s;
        position: absolute;
        display: block;
        /* writing-mode: vertical-lr; */
        bottom: 5%;
        font-size: 30px;
        right: 0;
    }

    .langs.lang-active{
        padding: 0 0 0 3rem;
    }

    .navigation{
        position: absolute;
        left: -100%;
        transition: .5s;
        background-color: #fff;
    }

    .text-preview > .lang{
        display: none;
        position: absolute;
    }

    .navigation,
    .navigation.page-active{
        display: grid;
        gap: 3rem;
        width: 100%;
        height: 70%;
        padding: 3rem 0 15rem 0;
    }

    .navigation.page-active{
        padding: 3rem 0 15rem 3rem;
    }

    .btn-ham{
        display: block;
        position: absolute;
        z-index: 999;
        right: 0.5rem;
        top: 3rem;
    }

    .menu-btn{
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        /* border: 1px solid #121212; */
    }
    .menu-btn span,
    .menu-btn span::after,
    .menu-btn span::before{
        display: block;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 12.5px);
        width: 25px;
        height: 2px;
        background-color: #121212;
        transition: 0.4s;
    }

    .menu-btn span::after,
    .menu-btn span::before{
        display: block;
        content: '';
    }

    .menu-btn span::after{
        transform: translateY(-8px);
    }

    .menu-btn span::before{
        transform: translateY(8px);
    }

    .menu-btn.active span{
        height: 0;
    }

    .menu-btn.active span::after{
        transform: rotate(-45deg);
        transform-origin: center;
    }
    .menu-btn.active span::before{
        transform: rotate(45deg);
        transform-origin: center;
    }
    .navigation > a,
    .navigation.page-active > a{
        display: grid;
        gap: 3rem;
        font-size: 30px;
        z-index: 777;
    }

    .navigation.page-active,
    .langs.lang-active{
        left: 0;
        background-color: #fff;
    }

    .heading-section{
        margin: 3rem 0;
    }
}


@media screen and (max-width: 880px) {
    .cards-skills{
        display: grid;
        justify-content: center;
        gap: 3rem;
    }
    .container-card{
        height: auto;
    }
    .photoshop,
    .illustrator,
    .after-effects,
    .figma{
    gap: 1rem;
    }
    .figma:last-child{
        gap: 1.5rem;
    }
    .container-card{
        padding: 3rem;
    }

    .text-container > .heading{
        font-size: 24px;
    }

    .container{
        height: 60%;
    }
}

@media screen and (max-width: 1356px) {
    .container{
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        height: 70%;
    }
}